{% extends 'venta/main.html' %}

{% block titulo %}Cambio de Pasajes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <p class="text-warning">Recuerde que sólo se puede efectuar este método con pasaje en mano</p>
                <form class="form-horizontal" action="{% url 'cambiacion' %}" method="get">
                    <fieldset>
                        <legend>Cambio de Pasajes</legend>
                        <div class="form-group">
                            <label for="inputId" class="col-lg-2 control-label">ID del pasaje</label>

                            <div class="col-lg-10">
                                <input type="text" name="sid" class="form-control" id="inputId" placeholder="ID del pasaje a devolver">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Ver Pasaje</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}