{% extends 'venta/main.html' %}

{% block titulo %}Lista de Recorridos{% endblock %}

{% block content %}
    <h1>{{ recorrido.origen }} - {{ recorrido.destino }}<br/>
        Salida {{ recorrido.hora_inicio|date:"l, j F H:i" }}</h1>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <p>Seleccione el asiento a vender</p>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        {% for asiento in asientos %}
                            <button type="button"
                                    class="btn btn-primary btn-lg{% if asiento.vendido %} disabled{% endif %}"
                                    onclick="location.href='{% url 'confirmar' recorrido.id_recorrido asiento.id %}'">
                                {{ asiento.asiento }}
                            </button>
                            {% if forloop.counter|divisibleby:"4" %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
