{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}Venta de pasajes El Pintor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'venta/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'venta/css/estilos-static.css' %}"/>
</head>
<body>

<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Buses El Pintor</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Buscar Recorridos</a></li>
                <li><a href="#">Link</a></li>
                </li>
            </ul>
        </div>
    </div>


    {% block content %}{% endblock %}
</div>

</body>
</html>