{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}Venta de pasajes El Pintor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'venta/css/bootstrap.min.css' %}"/>

    <script type="text/javascript" src="{% static 'venta/js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'venta/js/bootstrap.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Buses El Pintor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Vender Pasajes</a></li>
                <li><a href="#">Comprar Pasajes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'admin:index' %}">Administración</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>